# Private IPv4 subnets (RFC 1918 - https://tools.ietf.org/html/rfc1918)
# 10.0.0.0/8 - Single class A network (16,777,216 addresses)
10.0.0.0/8
# IPv4-mapped IPv6 equivalent: ::ffff:10.0.0.0/96

# 172.16.0.0/12 - 16 contiguous class B networks (1,048,576 addresses)
172.16.0.0/12
# IPv4-mapped IPv6 equivalent: ::ffff:172.16.0.0/92

# 192.168.0.0/16 - 256 contiguous class C networks (65,536 addresses)
192.168.0.0/16
# IPv4-mapped IPv6 equivalent: ::ffff:192.168.0.0/80

# Private IPv6 subnets (RFC 4193 - https://tools.ietf.org/html/rfc4193)
# fd00::/8 - Locally assigned, divided into /48 prefixes
fd00::/8

# Loopback addresses (not routable)
# IPv4: 127.0.0.0/8, IPv6: ::1/128
127.0.0.0/8
# IPv4-mapped IPv6 equivalent: ::ffff:127.0.0.0/96
::1/128

# Link-local addresses (not routable)
# IPv4: 169.254.0.0/16 (RFC 3927 - https://tools.ietf.org/html/rfc3927), IPv6: fe80::/10 (RFC 4291 - https://tools.ietf.org/html/rfc4291)
169.254.0.0/16
# IPv4-mapped IPv6 equivalent: ::ffff:169.254.0.0/80
fe80::/10

# Documentation addresses (not routable)
# IPv4: 192.0.2.0/24, 198.51.100.0/24, 203.0.113.0/24 (RFC 5737 - https://tools.ietf.org/html/rfc5737)
# IPv6: 2001:db8::/32 (RFC 3849 - https://tools.ietf.org/html/rfc3849)
192.0.2.0/24
# IPv4-mapped IPv6 equivalent: ::ffff:192.0.2.0/96
198.51.100.0/24
# IPv4-mapped IPv6 equivalent: ::ffff:198.51.100.0/96
203.0.113.0/24
# IPv4-mapped IPv6 equivalent: ::ffff:203.0.113.0/96
2001:db8::/32
