<network>
  <name>{{ common_kvm_routed_bridge_name }}</name>
  <forward mode='route' dev='{{ ansible_default_ipv4.interface | default("eth0") }}'/>
  <bridge name='{{ common_kvm_routed_bridge_name }}' stp='on' delay='0'/>
  <ip address='{{ common_kvm_routed_bridge_gateway }}' netmask='255.255.255.0'/>
</network>
