<pool type='dir'>
  <name>default</name>
  <target>
    <path>{{ kvm_storage_pool_path }}</path>
  </target>
  <capacity unit='bytes'>0</capacity>
  <allocation unit='bytes'>0</allocation>
  <available unit='bytes'>0</available>
</pool>