# {{ ansible_managed }}
# See timesyncd.conf(5) for details.

[Time]
NTP={% for server in nix_core_tools_ntp_servers %}{{ server }}{% if not loop.last %} {% endif %}{% endfor %}
FallbackNTP=time.debian.org
