[Desktop Entry]
Categories=
Comment=P2P file sharing with NAT hole punching
Exec=alt-sendme
StartupWMClass=alt-sendme
Icon=alt-sendme
Name=AltSendme
Terminal=false
Type=Application
