# /home/micro/p/gh/lrepo52/job-aide-wt01/apps/active/devops/localnet/services/dns/dnscrypt/assets/etc/dnscrypt-proxy/dnscrypt-proxy-plaintext.toml.template

listen_addresses = ['0.0.0.0:${DNS_DNSCRYPT_PLAINTEXT_CONTAINER_PORT}']
